.ATL {
  background: linear-gradient(to right, rgba(224, 58, 62, 0.7), rgba(193, 211, 47, 0.7));
}

.BOS {
  background: linear-gradient(to right, rgba(0, 122, 51, 0.7), rgba(249, 160, 27, 0.7));
}

.BKN {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.CHA {
  background: linear-gradient(to right, rgba(29, 17, 96, 0.7), rgba(0, 120, 140, 0.7));
}

.CHI {
  background: linear-gradient(to right, rgba(206, 17, 65, 0.7), rgba(0, 0, 0, 0.7));
}

.NA {
  background: linear-gradient(to right, rgba(227, 24, 55, 0.7), rgba(0, 43, 92, 0.7), rgba(227, 24, 55, 0.7), rgba(0, 43, 92, 0.7));
}

.CLE {
  background: linear-gradient(to right, rgba(111, 38, 61, 0.7), rgba(255, 184, 28, 0.7));
}

.DAL {
  background: linear-gradient(to right, rgba(0, 83, 140, 0.7), rgba(0, 43, 94, 0.7));
}

.DEN {
  background: linear-gradient(to right, rgba(14, 34, 64, 0.7), rgba(254, 197, 36, 0.7));
}

.DET {
  background: linear-gradient(to right, rgba(200, 16, 46, 0.7), rgba(29, 66, 186, 0.7));
}

.GSW {
  background: linear-gradient(to right, rgba(253, 185, 39, 0.7), rgba(29, 66, 138, 0.7));
}

.HOU {
  background: linear-gradient(to right, rgba(206, 17, 65, 0.7), rgba(0, 0, 0, 0.7));
}

.IND {
  background: linear-gradient(to right, rgba(0, 45, 98, 0.7), rgba(253, 187, 48, 0.7));
}

.LAC {
  background: linear-gradient(to right, rgba(29, 66, 138, 0.7), rgba(255, 204, 51, 0.7));
}

.LAL {
  background: linear-gradient(to right, rgba(85, 37, 131, 0.7), rgba(253, 185, 39, 0.7));
}

.MEM {
  background: linear-gradient(to right, rgba(18, 23, 63, 0.7), rgba(93, 118, 169, 0.7));
}

.MIA {
  background: linear-gradient(to right, rgba(152, 0, 46, 0.7), rgba(249, 160, 27, 0.7));
}

.MIL {
  background: linear-gradient(to right, rgba(0, 71, 27, 0.7), rgba(238, 225, 198, 0.7));
}

.MIN {
  background: linear-gradient(to right, rgba(12, 35, 64, 0.7), rgba(35, 97, 146, 0.7));
}

.NOP {
  background: linear-gradient(to right, rgba(12, 35, 64, 0.7), rgba(200, 16, 46, 0.7));
}

.NYK {
  background: linear-gradient(to right, rgba(0, 107, 182, 0.7), rgba(245, 132, 38, 0.7));
}

.OKC {
  background: linear-gradient(to right, rgba(0, 122, 193, 0.7), rgba(239, 59, 36, 0.7));
}

.ORL {
  background: linear-gradient(to right, rgba(0, 119, 192, 0.7), rgba(196, 206, 212, 0.7));
}

.PHI {
  background: linear-gradient(to right, rgba(237, 23, 76, 0.7), rgba(0, 107, 182, 0.7));
}

.PHX {
  background: linear-gradient(to right, rgba(229, 96, 32, 0.7), rgba(29, 17, 96, 0.7));
}

.POR {
  background: linear-gradient(to right, rgba(224, 58, 62, 0.7), rgba(29, 66, 138, 0.7));
}

.SAC {
  background: linear-gradient(to right, rgba(90, 45, 129, 0.7), rgba(99, 114, 122, 0.7));
}

.SAS {
  background: linear-gradient(to right, rgba(196, 206, 212, 0.7), rgba(0, 0, 0, 0.7));
}

.TOR {
  background: linear-gradient(to right, rgba(206, 17, 65, 0.7), rgba(0, 0, 0, 0.7));
}

.UTA {
  background: linear-gradient(to right, rgba(0, 43, 92, 0.7), rgba(0, 71, 27, 0.7));
}

.WAS {
  background: linear-gradient(to right, rgba(227, 24, 55, 0.7), rgba(0, 43, 92, 0.7));
}
